@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), url("../fonts/OpenSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  src: local("Open Sans Bold"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Nothing";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Regular"), url("../fonts/NothingYouCouldDo-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Teko";
  font-style: normal;
  font-weight: 400;
  src: local("Teko"), url("../fonts/Teko-Regular.ttf") format("truetype");
}
:root {
  --white: #FFFFFF;
  --black: #000000;
  --black-hover: #111111;
  --black-active: #222222;
  --black-10: #0000001a;
  --black-75: #000000bf;
  --dark-0: #333333;
  --dark-1: #000000BF;
  --gray: #79756C;
  --gray-0: #707070;
  --gray-1: #7E7E7E;
  --gray-2: #9A9A99;
  --gray-3: #CCCCCC;
  --gray-4: #00000029;
  --gray-5: #E5E3DFBF;
  --gray-6: #F8F8F8;
  --gray-7: #E5E3DF;
  --gray-8: #DDDDDD;
  --gray-9: #999999;
  --gray-10: #EEEEEE;
  --gray-11: #444444;
  --gray-12: #E8E8E8;
  --red: #E32119;
  --red-hover: #E4423B;
  --red-active: #C91D16;
  --green: #00994D;
  --green-hover: #00BE60;
  --green-active: #00773C;
  --blue: #00A0E6;
  --blue-hover: #1CABE9;
  --blue-active: #199BD4;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
}

body, div, article, aside, footer, header, main, nav, section, ul, ol, li, button, figure, picture {
  display: flex;
}

body {
  margin: 0;
  flex-direction: column;
  background-color: var(--bg-color);
}

a {
  color: var(--red);
}
a:hover {
  color: var(--black);
}

hr.divider {
  background-color: var(--gray-3);
  height: 1px;
  width: calc(100% - 2em);
  margin: 3em 0;
  border: none;
  display: flex;
  align-self: center;
}

header.page-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
header.page-title h1, header.page-title h2, header.page-title h3, header.page-title h4, header.page-title h5, header.page-title h6 {
  color: var(--green);
  margin: 0;
  font-size: 32px;
  font-weight: 600;
}
header.page-title hr {
  width: 68px;
  border: none;
  border-top: 4px solid var(--red);
  margin: 10px 0;
}

.page {
  flex-direction: column;
  margin-bottom: 80px;
  height: calc(100vh - 140px);
  overflow: auto;
}
.page.page-summary {
  height: calc(100vh - 191px);
}
.page .page-title {
  margin: 20px;
  width: calc(100% - 40px);
}
.page form .page-title {
  margin: 0;
  margin-bottom: 20px;
  width: 100%;
}
.page > header {
  width: 100%;
  min-height: 130px;
  background-color: var(--black);
  color: var(--white);
  font-weight: bold;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
}
.page > header h1 {
  font-size: 23px;
  text-transform: uppercase;
}
.page > header h1 small {
  display: block;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
.page > main {
  flex-direction: column;
}
.page footer.fixed {
  width: 100%;
  height: 80px;
  background-color: var(--gray-12);
  position: fixed;
  bottom: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 1;
}
.page footer.fixed button, .page footer.fixed a {
  min-width: 130px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 20px;
  cursor: pointer;
  background: transparent;
  background-color: var(--gray-3);
  color: var(--gray-0);
}
.page footer.fixed button:hover, .page footer.fixed a:hover {
  background-color: #00000010;
}
.page footer.fixed button:active, .page footer.fixed a:active {
  background-color: #00000020;
}
@media (min-width: 768px) {
  .page footer.fixed button, .page footer.fixed a {
    min-width: 150px;
  }
}
.page footer.fixed button:hover, .page footer.fixed a:hover {
  background-color: var(--gray-8);
}
.page footer.fixed button:active, .page footer.fixed a:active {
  background-color: var(--gray-9);
}
.page footer.fixed button[type=submit], .page footer.fixed a.black {
  min-width: 130px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 20px;
  cursor: pointer;
  background: transparent;
  background-color: var(--black);
  color: var(--white);
}
.page footer.fixed button[type=submit]:hover, .page footer.fixed a.black:hover {
  background-color: #00000010;
}
.page footer.fixed button[type=submit]:active, .page footer.fixed a.black:active {
  background-color: #00000020;
}
@media (min-width: 768px) {
  .page footer.fixed button[type=submit], .page footer.fixed a.black {
    min-width: 150px;
  }
}
.page footer.fixed button[type=submit]:hover, .page footer.fixed a.black:hover {
  background-color: var(--black-hover);
}
.page footer.fixed button[type=submit]:active, .page footer.fixed a.black:active {
  background-color: var(--black-active);
}
.page.blue > header {
  background-color: var(--blue);
}
.page.blue footer.fixed button[type=submit], .page.blue footer.fixed a.black {
  min-width: 130px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 20px;
  cursor: pointer;
  background: transparent;
  background-color: var(--blue);
  color: var(--white);
}
.page.blue footer.fixed button[type=submit]:hover, .page.blue footer.fixed a.black:hover {
  background-color: #00000010;
}
.page.blue footer.fixed button[type=submit]:active, .page.blue footer.fixed a.black:active {
  background-color: #00000020;
}
@media (min-width: 768px) {
  .page.blue footer.fixed button[type=submit], .page.blue footer.fixed a.black {
    min-width: 150px;
  }
}
.page.blue footer.fixed button[type=submit]:hover, .page.blue footer.fixed a.black:hover {
  background-color: var(--blue-hover);
}
.page.blue footer.fixed button[type=submit]:active, .page.blue footer.fixed a.black:active {
  background-color: var(--blue-active);
}
.page.green > header {
  background-color: var(--green);
}
.page.green footer.fixed button[type=submit], .page.green footer.fixed a.black {
  min-width: 130px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 20px;
  cursor: pointer;
  background: transparent;
}
.page.green footer.fixed button[type=submit]:hover, .page.green footer.fixed a.black:hover {
  background-color: #00000010;
}
.page.green footer.fixed button[type=submit]:active, .page.green footer.fixed a.black:active {
  background-color: #00000020;
}
@media (min-width: 768px) {
  .page.green footer.fixed button[type=submit], .page.green footer.fixed a.black {
    min-width: 150px;
  }
}

@media (min-width: 992px) {
  .page form {
    max-width: 400px;
  }
  .page footer.fixed {
    justify-content: flex-start;
    flex-direction: row;
  }
  .page footer.fixed button + button, .page footer.fixed a + a, .page footer.fixed a + button, .page footer.fixed button + a {
    margin-right: 20px;
  }
  .page footer.fixed button, .page footer.fixed a {
    order: 1;
  }
  .page footer.fixed button:first-child, .page footer.fixed a:first-child {
    order: 2;
  }
}
@media (min-width: 1200px) {
  .page {
    height: calc(100vh - 180px);
  }
  .page > header {
    justify-content: flex-start;
    padding-left: 300px;
    min-height: 160px;
  }
  .page > header h1 {
    font-size: 32px;
  }
  .page > header h1 small {
    text-align: left;
  }
}
form {
  flex-direction: column;
  padding: 0 20px;
  width: 100%;
}
form .fields {
  flex-direction: column;
}
form .field {
  position: relative;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}
form .field label {
  color: var(--gray-3);
  font-size: 14px;
  position: absolute;
  z-index: 2;
  left: 10px;
  top: 10px;
  transition: color 0.3s ease-in-out;
}
form .field input, form .field textarea {
  line-height: 1.5em;
  padding: 10px;
  padding-top: 33px;
  font-size: 16px;
  color: var(--dark-0);
  outline: none;
  font-family: "Open Sans";
  border: var(--gray-3) 1px solid;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  top: 0;
  transition: border-color 0.3s ease-in-out;
  width: 100%;
  background-color: transparent;
}
form .field input[readonly], form .field textarea[readonly] {
  border: none;
  color: var(-black);
  font-weight: bold;
  font-size: 22px;
  padding-bottom: 0;
  text-transform: uppercase;
}
form .field input[readonly] + label, form .field textarea[readonly] + label {
  color: var(--gray-0);
  text-transform: uppercase;
}
form .field input:focus, form .field textarea:focus {
  border-color: var(--green);
}
form .field input:focus + label, form .field textarea:focus + label {
  color: var(--green);
}
form .actions {
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}
form button {
  min-width: 130px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 20px;
  cursor: pointer;
  background: transparent;
  background-color: var(--green);
  color: var(--white);
}
form button:hover {
  background-color: #00000010;
}
form button:active {
  background-color: #00000020;
}
@media (min-width: 768px) {
  form button {
    min-width: 150px;
  }
}
form button:hover {
  background-color: var(--green-hover);
}
form button:active {
  background-color: var(--green-active);
}

@media (min-width: 992px) {
  form .fields {
    flex-direction: row;
  }
  form .fields .field {
    margin-right: 20px;
  }
  form .fields .field:last-child {
    margin-right: 0;
  }
  form .fields .field textarea {
    min-height: 250px;
  }
  form button {
    max-width: 340px;
  }
}
#header {
  min-width: 320px;
  width: 100%;
  height: 60px;
  background-color: var(--gray-5);
  position: relative;
  z-index: 3;
}
#header .italy {
  width: 100%;
  display: block;
  position: absolute;
  top: 52px;
  background-color: var(--white);
  height: 18px;
  border: none;
  border-top: var(--green) 6px solid;
  border-bottom: var(--red) 6px solid;
}
#header .menu {
  transition: right 0.5s ease-in-out;
  width: 300px;
  height: 100vh;
  padding-bottom: 50px;
  background-color: var(--gray-7);
  position: fixed;
  right: -300px;
  top: 0;
  z-index: 4;
  flex-direction: column;
  justify-content: space-between;
}
#header .menu.logged .menus .hide-guest {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#header .menu.logged footer > div {
  display: flex;
}
#header .menu.logged footer > a {
  display: none;
}
#header .menu .btn-register {
  min-width: 130px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 20px;
  cursor: pointer;
  background: transparent;
  background-color: var(--green);
  color: var(--white);
  margin: 20px;
  width: calc(300px - 40px);
}
#header .menu .btn-register:hover {
  background-color: #00000010;
}
#header .menu .btn-register:active {
  background-color: #00000020;
}
@media (min-width: 768px) {
  #header .menu .btn-register {
    min-width: 150px;
  }
}
#header .menu .btn-register:hover {
  background-color: var(--green-hover);
}
#header .menu .btn-register:active {
  background-color: var(--green-active);
}
#header .menu hr {
  width: 100%;
  border-bottom: none;
  border-color: var(--black-10);
  margin: 0;
}
#header .menu .footer {
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#header .menu .footer > div {
  display: none;
  padding: 15px;
  width: 100%;
  align-items: center;
}
#header .menu .footer > div picture {
  margin-right: 10px;
}
#header .menu .footer > div picture img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
#header .menu .footer > div > div {
  flex-direction: column;
  flex: 1;
}
#header .menu .footer > div a {
  color: var(--dark-0);
  text-decoration: none;
  font-size: 16px;
}
#header .menu .footer > div a small {
  color: var(--gray-2);
  font-size: 12px;
}
#header .menu .menus {
  margin-top: 170px;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#header .menu .menus .hide-guest {
  display: none;
}
#header .menu .menus hr {
  margin: 15px 0;
}
#header .menu .menus ul {
  margin: 0;
  padding: 0;
  width: 100%;
  flex-direction: column;
}
#header .menu .menus ul li {
  padding: 14px 0;
  width: 100%;
  list-style: none;
  justify-content: center;
}
#header .menu .menus ul li a {
  text-decoration: none;
  color: var(--dark-0);
}
#header button {
  background: none;
  border: none;
  padding: 13px;
  outline: none;
}
#header #btn-open, #header #btn-close {
  position: absolute;
  right: 0;
}
#header .logo {
  position: absolute;
  transition: all 1s ease-in-out;
  right: calc(50vw - 36px);
  top: 15px;
  z-index: 5;
  width: 72px;
}
#header .overlay {
  transition: all 0.5s ease-in-out;
  display: none;
}

.open-menu {
  overflow: hidden;
}
.open-menu #header .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--dark-1);
  z-index: 4;
  display: flex;
}
.open-menu #header .menu {
  right: 0px;
}
.open-menu #header .logo {
  left: initial;
  right: 87px;
  width: 120px;
}

@media (min-width: 1200px) {
  #header {
    height: 100px;
  }
  #header .italy {
    top: 92px;
  }
  #header .logo {
    right: calc(100vw - 200px);
    top: 17px;
    transition: none;
    width: 120px;
  }
  #header #btn-open, #header #btn-close {
    display: none;
  }
  #header ul {
    width: auto;
  }
  #header .menu {
    width: 100%;
    height: 100px;
    background-color: initial;
    position: static;
    right: initial;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
    padding-bottom: 0;
  }
  #header .menu > div {
    width: 100%;
  }
  #header .menu .btn-register {
    margin: 0;
    margin-right: 30px;
    width: 200px;
  }
  #header .menu ul {
    margin: 0;
    margin-top: 0;
    padding: 0;
    flex-direction: row;
    align-items: center;
  }
  #header .menu ul li a {
    font-size: 18px;
    min-width: 100px;
    padding: 10px 0;
    text-align: center;
  }
  #header .menu ul li a:hover {
    color: var(--black);
  }
  #header .menu .menus {
    margin-top: 0;
    flex-direction: row;
  }
  #header .menu .menus hr {
    display: none;
  }
  #header .menu .menus ul {
    flex-direction: row;
  }
  #header .menu .footer {
    width: initial;
    justify-content: center;
  }
  #header .menu .footer hr {
    display: none;
  }
  #header .menu .footer > div {
    height: 100px;
  }
}
#footer {
  width: 100%;
  min-width: 320px;
  position: relative;
  background-color: var(--dark-0);
  color: var(--gray-3);
  flex-direction: column;
  padding: 2em;
  align-items: center;
}
#footer button {
  position: absolute;
  right: 20px;
  background: var(--gray-6);
  color: var(--dark-0);
  box-shadow: var(--black) 0 3px 6px;
  border: none;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  padding: 13px;
  outline: none;
  justify-content: center;
  align-items: center;
  top: -35px;
  z-index: 1;
  cursor: pointer;
}
#footer button:hover {
  background-color: var(--white);
}
#footer .columns {
  width: 100%;
  flex-direction: column;
  align-items: center;
}
#footer .links {
  display: none;
}
#footer ul {
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 300px;
}
#footer li {
  list-style: none;
  padding: 0.5em 0;
  font-size: 16px;
}
#footer li.title {
  font-weight: bold;
  font-size: 20px;
}
#footer .social {
  align-items: center;
}
#footer .social a {
  margin-right: 1em;
}
#footer .social img {
  height: 24px;
}
#footer .logo {
  margin: 2em 0;
}
#footer p {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

@media (min-width: 1200px) {
  #footer {
    padding-bottom: 0;
  }
  #footer .columns {
    flex-direction: row;
    justify-content: space-between;
  }
  #footer .social a:hover {
    opacity: 0.8;
  }
  #footer .links {
    display: flex;
  }
  #footer .links a {
    color: var(--white50);
    text-decoration: none;
  }
  #footer .links a:hover {
    color: var(--white);
  }
  #footer li {
    font-size: 14px;
    font-weight: 300;
  }
  #footer p {
    font-size: 14px;
  }
}
#home {
  flex-direction: column;
  margin-top: -80px;
}
#home hr {
  position: absolute;
  top: 60px;
  z-index: 1;
}
#home header {
  width: 100%;
  min-width: 320px;
  min-height: 675px;
  height: 100vh;
  background-image: url("../images/ferrari-vermelha-1200.webp");
  background-size: cover;
  background-position-x: 80%;
  background-position-y: center;
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 2em;
}
#home header h1 {
  color: var(--white);
  font-size: 4em;
  font-weight: bold;
  text-align: right;
  margin: 0.4em 0;
  line-height: 1.25em;
}
#home header a {
  min-width: 130px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 20px;
  cursor: pointer;
  background: transparent;
  border: var(--white) 2px solid;
  border-radius: 8px;
  color: var(--white);
}
#home header a:hover {
  background-color: #00000010;
}
#home header a:active {
  background-color: #00000020;
}
@media (min-width: 768px) {
  #home header a {
    min-width: 150px;
  }
}
#home header a:hover {
  background-color: var(--white);
  color: var(--black);
}
#home .gallery {
  min-width: 320px;
  flex-direction: column;
}
#home .gallery figure {
  width: 100%;
  margin: 0;
  margin-top: 1px;
  position: relative;
}
#home .gallery figure img {
  width: 100%;
}
#home .gallery figure figcaption {
  position: absolute;
  left: 0;
  bottom: 20px;
  background-color: var(--black-75);
  color: var(--white);
  padding: 0.3em 1em;
}
#home .gallery figure figcaption h2 {
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
}
#home .gallery figure figcaption p {
  margin: 0;
  font-size: 12px;
  color: var(--grayC);
}

@media (min-width: 576px) {
  #home .gallery {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  #home {
    margin-top: -100px;
  }
  #home hr {
    top: 100px;
  }
  #home header {
    height: 100vh;
    max-height: initial;
    background-image: url("../images/ferrari-vermelha.webp");
  }
}
@media (min-width: 1920px) {
  #home header {
    background-image: url("../images/ferrari-vermelha@2x.webp");
  }
}
#service {
  margin-top: 20px;
  flex-direction: column;
}
#service h2 {
  padding: 0 15px;
  margin: 0;
  font-size: 27px;
  font-weight: bold;
  color: var(--dark-0);
  text-transform: uppercase;
}
#service h2 small {
  color: var(--gray-2);
  display: block;
  font-size: 20px;
  font-weight: 600;
}
#service > img {
  width: 100%;
  margin: 30px 0;
}
#service > div {
  flex-direction: column;
}
#service > div a {
  min-width: 130px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 20px;
  cursor: pointer;
  background: transparent;
  background-color: var(--green);
  color: var(--white);
  margin: 0 20px;
}
#service > div a:hover {
  background-color: #00000010;
}
#service > div a:active {
  background-color: #00000020;
}
@media (min-width: 768px) {
  #service > div a {
    min-width: 150px;
  }
}
#service > div a:hover {
  background-color: var(--green-hover);
}
#service > div a:active {
  background-color: var(--green-active);
}
#service > div .icons {
  flex-direction: column;
}
#service > div .icons figure {
  margin-top: 30px;
  flex-direction: column;
  align-items: center;
}
#service > div .icons figure img {
  width: 100px;
}
#service > div .icons figure figcaption {
  margin: 30px auto;
  font-size: 16px;
  font-weight: bold;
  color: var(--gray-0);
}

@media (min-width: 768px) {
  #service > div {
    flex-direction: column-reverse;
  }
  #service > div .icons {
    flex-direction: row;
    justify-content: space-around;
  }
  #service > div .icons figure {
    margin: 100px 0;
  }
  #service > div .icons figure img {
    width: 150px;
  }
  #service > div a {
    width: 200px;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  #service h2 {
    font-size: 60px;
  }
  #service h2 small {
    font-size: 35px;
  }
}
#contact {
  flex-direction: column;
}
#contact p {
  font-size: 15px;
  color: var(--gray-1);
  font-weight: 600;
}
#contact h2 {
  padding: 0 15px;
  margin: 0;
  font-size: 27px;
  font-weight: bold;
  color: var(--dark-0);
  text-transform: uppercase;
}
#contact > section {
  flex-direction: column;
}
#contact #map {
  background-image: url("../images/mapa.png");
  height: 263px;
  width: 100%;
  margin-top: 20px;
}
#contact .contacts {
  margin: 0;
  margin-top: 30px;
  padding: 1em;
  flex-direction: column;
}
#contact .contacts li {
  border: var(--gray-3) 1px solid;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  margin-bottom: 4em;
  text-align: center;
  color: var(--gray6);
}
#contact .contacts li img {
  max-width: 100px;
  background-color: var(--white);
  margin: 0 auto;
  margin-top: -60px;
  padding: 0 15px;
}
#contact .contacts li .title {
  font-weight: 600;
  margin: 0;
  font-size: 24px;
}
#contact .contacts li p {
  font-weight: 300;
  margin: 0;
  font-size: 25px;
}

@media (min-width: 992px) {
  #contact h2 {
    font-size: 60px;
  }
  #contact > section {
    flex-direction: row;
  }
  #contact > section form, #contact > section #map {
    flex: 1;
  }
  #contact > section #map {
    margin-left: 0;
    height: 570px;
  }
  #contact .contacts {
    flex-direction: row;
  }
  #contact .contacts li {
    margin-right: 1em;
    margin-bottom: 2em;
  }
  #contact .contacts li:last-child {
    margin-right: 0;
  }
  #contact textarea {
    height: 245px;
  }
}
#auth {
  min-width: 300px;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
#auth .hide {
  display: none;
}
#auth > section {
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  align-items: center;
  width: 100%;
  height: 100%;
}
#auth > section a {
  display: contents;
}
#auth > section a img {
  position: absolute;
  width: 100px;
  top: 40px;
  z-index: 1;
}
#auth > section p {
  color: var(--gray-9);
  font-size: 16px;
}
#auth > section form {
  margin-top: 170px;
  position: relative;
  left: 0;
  width: 100vw;
}
#auth > section form .message {
  display: flex;
  align-items: center;
  justify-content: center;
}
#auth > section form .message img {
  margin-right: 5px;
}
#auth > section form .message span {
  font-weight: 600;
  color: var(--dark-0);
}
#auth > section form h1 {
  text-align: center;
  color: var(--green);
  font-size: 28px;
  font-weight: 600;
  margin: 10px auto;
}
#auth > section form hr {
  border: none;
  border-top: 4px solid var(--red);
  width: 68px;
  margin-bottom: 30px;
}
#auth > section form .field {
  width: 100%;
}
#auth > section form .actions {
  justify-content: space-between;
}
#auth > section form .actions .link {
  font-size: 14px;
  color: var(--dark-0);
  text-decoration: none;
}
#auth > section form .actions .link:hover {
  color: var(--gray-11);
}
#auth > section form .actions .link:active {
  color: var(--black);
}
#auth > section form.forget .actions {
  justify-content: flex-end;
}

@media (min-width: 500px) {
  #auth > section {
    width: 500px;
    height: initial;
  }
  #auth > section a img {
    top: 125px;
  }
  #auth > section form {
    border: var(--gray-8) 1px solid;
    border-radius: 10px;
    width: 100%;
    padding: 50px;
    padding-top: 100px;
  }
}
#error .desktop {
  display: none;
}
#error header {
  margin: 0;
  margin-top: 120px;
  padding: 0 3em;
  height: initial;
}
#error header h1 {
  margin: 0;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.5em;
}
#error header h1 b {
  color: var(--red);
}
#error p {
  padding: 0 3em;
  font-size: 20px;
  color: var(--gray-0);
}
#error img {
  width: 100%;
  margin-bottom: 3em;
}
#error .columns, #error .column {
  flex-direction: column;
}

@media (min-width: 576px) {
  #error header {
    height: initial;
    min-height: initial;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  #error {
    min-height: calc(100vh - 325px);
  }
  #error .desktop {
    display: flex;
  }
  #error .mobile {
    display: none;
  }
  #error p {
    font-size: 16px;
  }
  #error .columns {
    flex-direction: row;
    align-items: center;
  }
  #error .column {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 396px);
  }
}
#change-photo form {
  align-items: center;
  display: flex;
}
#change-photo form img {
  width: 256px;
  height: 256px;
}
#change-photo form .choose-photo {
  margin-top: 20px;
  width: 256px;
}

#schedules {
  padding-bottom: 20px;
}
#schedules footer.fixed {
  justify-content: center;
}
#schedules ul {
  margin: 0;
  padding: 0 20px;
  flex-direction: column;
}
#schedules ul li {
  flex-direction: column;
}
#schedules ul li > section {
  flex-wrap: wrap;
}
#schedules ul li > section > div {
  width: 50%;
  flex-direction: column;
}
#schedules ul li > section > div label, #schedules ul li > section > div span {
  font-size: 16px;
  margin: 10px 0;
  color: var(--dark-0);
}
#schedules ul li > section > div label {
  font-weight: bold;
}
#schedules ul li button {
  min-width: 130px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 20px;
  cursor: pointer;
  background: transparent;
  background-color: var(--red);
  color: var(--white);
  max-width: 150px;
  align-self: center;
}
#schedules ul li button:hover {
  background-color: #00000010;
}
#schedules ul li button:active {
  background-color: #00000020;
}
@media (min-width: 768px) {
  #schedules ul li button {
    min-width: 150px;
  }
}
#schedules ul li button:hover {
  background-color: var(--red-hover);
}
#schedules ul li button:active {
  background-color: var(--red-active);
}
#schedules ul li + li {
  border-top: var(--gray-10) 1px solid;
  margin-top: 10px;
  padding-top: 10px;
}

@media (min-width: 992px) {
  #schedules footer.fixed {
    justify-content: flex-start;
  }
  #schedules ul li {
    flex-direction: row;
    justify-content: space-between;
    width: fit-content;
  }
  #schedules ul li > section {
    flex-wrap: nowrap;
    flex: 1;
    max-width: 1000px;
  }
  #schedules ul li > section > div {
    width: initial;
    min-width: 200px;
  }
  #schedules ul li > section > div label {
    display: none;
  }
  #schedules ul li > section > div.service {
    flex: 1;
  }
  #schedules ul li button {
    align-self: flex-end;
  }
  #schedules ul li:first-child > section > div label {
    display: flex;
  }
}
.calendar {
  flex-direction: column;
  padding: 0 20px;
}
.calendar .month {
  color: var(--gray-2);
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.calendar .month h2 {
  font-size: 22px;
  font-weight: 400;
}
.calendar .month button {
  min-width: 130px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 20px;
  cursor: pointer;
  background: transparent;
  border: var(--gray-2) 2px solid;
  border-radius: 8px;
  color: var(--gray-2);
}
.calendar .month button:hover {
  background-color: #00000010;
}
.calendar .month button:active {
  background-color: #00000020;
}
@media (min-width: 768px) {
  .calendar .month button {
    min-width: 150px;
  }
}
.calendar .month nav button {
  min-width: 50px;
}
.calendar .month nav button + button {
  margin-left: 10px;
}
.calendar .month .btn-today {
  display: none;
}
.calendar .weekdays {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--gray-0);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
}
.calendar .weekdays li {
  justify-content: center;
  padding: 8px 0;
  font-size: 12px;
  font-weight: bold;
}
.calendar .days {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 12vw 12vw 12vw 12vw 12vw;
  grid-gap: 10px;
  color: var(--gray-11);
  margin: 0;
  padding: 0;
}
.calendar .days li {
  font-size: 16px;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.calendar .days li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.calendar .days .month-prev, .calendar .days .month-next {
  color: var(--gray-2);
}
.calendar .days .active {
  background-color: var(--blue);
  color: var(--white);
}
.calendar .days .active:hover {
  background-color: var(--blue-hover);
}
.calendar .days .active:active {
  background-color: var(--blue-active);
}

@media (min-width: 992px) {
  .calendar {
    max-width: 992px;
  }
  .calendar .month {
    margin: 30px 0;
  }
  .calendar .month h2 {
    font-size: 44px;
  }
  .calendar .month .btn-today {
    display: flex;
  }
  .calendar .weekdays li {
    font-size: 21px;
    font-weight: bold;
  }
  .calendar .days {
    grid-template-rows: 128px 128px 128px 128px 128px 128px;
  }
  .calendar .days li {
    font-size: 38px;
  }
}
#time-options h3 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 18px;
  text-transform: uppercase;
}
#time-options .options {
  flex-wrap: wrap;
  justify-content: space-between;
}
#time-options .options label {
  width: calc(50% - 10px);
  margin-bottom: 20px;
}
#time-options .options label span {
  min-width: 130px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 20px;
  cursor: pointer;
  background: transparent;
  display: flex;
  width: 100%;
  background-color: var(--gray-10);
  color: --dark-0;
}
#time-options .options label span:hover {
  background-color: #00000010;
}
#time-options .options label span:active {
  background-color: #00000020;
}
@media (min-width: 768px) {
  #time-options .options label span {
    min-width: 150px;
  }
}
#time-options .options label input {
  display: none;
}
#time-options .options label input:checked + span {
  background-color: var(--blue);
  color: var(--white);
}

@media (min-width: 992px) {
  #time-options.page form {
    min-width: 900px;
  }
  #time-options .options {
    justify-content: flex-start;
  }
  #time-options .options label {
    width: calc(25% - 20px);
    margin-right: 20px;
  }
  #time-options h3 {
    font-size: 22px;
  }
}
#schedules-services .options {
  margin-top: 20px;
  flex-direction: column;
}
#schedules-services .options label {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin-bottom: 20PX;
}
#schedules-services .options label .square {
  width: 24px;
  height: 24px;
  border: var(--gray-10) 2px solid;
  justify-content: center;
  align-items: center;
}
#schedules-services .options label .square > div {
  width: 14px;
  height: 14px;
  background-color: var(--gray);
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#schedules-services .options label:hover .square {
  border: var(--gray-8) 2px solid;
}
#schedules-services .options label:hover .square > div {
  opacity: 0.2;
}
#schedules-services .options label input {
  display: none;
}
#schedules-services .options label input:checked + .square > div {
  opacity: 1;
  background-color: var(--blue);
}
#schedules-services .options label .content {
  flex-direction: column;
  padding-left: 10px;
  font-size: 16px;
  color: var(--dark-0);
  line-height: 24px;
}
#schedules-services .options label .content .description {
  font-size: 14px;
  color: var(--gray-2);
}
#schedules-services .options label .content .price {
  font-weight: bold;
}
#schedules-services aside {
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 80px;
  height: 50px;
  background-color: var(--gray-12);
  border-bottom: var(--gray-3) 1px solid;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
}
#schedules-services aside header {
  font-size: 32px;
  color: var(--dark-0);
  height: 130px;
  justify-content: center;
  align-items: center;
  display: none;
}
#schedules-services aside section {
  padding: 0 20px;
  display: none;
  flex: 1;
  max-height: calc(100vh - 339px);
  overflow: auto;
}
#schedules-services aside section table {
  border-collapse: collapse;
  width: 100%;
  border-bottom: var(--gray-3) 1px solid;
}
#schedules-services aside section table .price {
  text-align: right;
}
#schedules-services aside section table td {
  padding: 20px 0;
  border-top: var(--gray-3) 1px solid;
}
#schedules-services aside footer {
  height: 50px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 18px;
  color: var(--dark-0);
}
#schedules-services aside footer .total {
  font-weight: bold;
  margin-left: 20px;
  text-align: right;
}
#schedules-services aside footer button {
  min-width: 50px;
  width: 50px;
  min-width: 130px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 20px;
  cursor: pointer;
  background: transparent;
}
#schedules-services aside footer button:hover {
  background-color: #00000010;
}
#schedules-services aside footer button:active {
  background-color: #00000020;
}
@media (min-width: 768px) {
  #schedules-services aside footer button {
    min-width: 150px;
  }
}
#schedules-services aside footer button svg {
  transform: rotate(0deg);
  transition: all 0.2s ease-in-out;
}
#schedules-services aside.open {
  height: calc(100vh - 200px);
}
#schedules-services aside.open header, #schedules-services aside.open section {
  display: flex;
}
#schedules-services aside.open footer button svg {
  transform: rotate(180deg);
}

@media (min-width: 1200px) {
  #schedules-services > header, #schedules-services > main {
    width: calc(100% - 358px);
  }
  #schedules-services aside, #schedules-services aside.open {
    width: 375px;
    height: calc(100vh - 118px);
    bottom: 0;
  }
  #schedules-services aside header, #schedules-services aside section, #schedules-services aside.open header, #schedules-services aside.open section {
    display: flex;
  }
  #schedules-services aside header, #schedules-services aside.open header {
    height: 160px;
  }
  #schedules-services aside footer, #schedules-services aside.open footer {
    height: 80px;
  }
  #schedules-services aside footer > div, #schedules-services aside.open footer > div {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
  }
  #schedules-services aside footer > div .total, #schedules-services aside.open footer > div .total {
    font-size: 29px;
  }
  #schedules-services aside footer button, #schedules-services aside.open footer button {
    display: none;
  }
}
#schedules-payment {
  position: relative;
}
#schedules-payment.keyboard-open {
  margin-bottom: 0;
  height: calc(100vh - 60px);
}
#schedules-payment.keyboard-open > main form {
  max-width: 100%;
}
#schedules-payment.keyboard-open footer {
  position: static;
  width: 100vw;
  margin-left: -20px;
}
#schedules-payment .name {
  text-transform: uppercase;
}
#schedules-payment .nametspan {
  text-transform: capitalize;
}
#schedules-payment > header {
  height: 260px;
  min-height: 260px;
  position: relative;
}
#schedules-payment > header h1 {
  display: none;
}
#schedules-payment > main {
  align-items: center;
}
#schedules-payment > main form {
  max-width: 100%;
}
#schedules-payment > main form .form-creditcard {
  margin-top: 20px;
}
#schedules-payment > main form .form-creditcard .form-fields {
  flex-direction: column;
  width: 100%;
}
#schedules-payment > main form .form-creditcard .form-fields .fields {
  flex-direction: row;
  justify-content: space-between;
}
#schedules-payment > main form .form-creditcard .form-fields .fields .field {
  width: calc(50% - 10px);
}
#schedules-payment > main form .form-creditcard .form-card {
  perspective: 1000px;
  position: absolute;
  top: 32px;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: center;
}
#schedules-payment > main form .form-creditcard .form-card .faces {
  transform-style: preserve-3d;
  transition: transform 0.6s;
  width: 300px;
}
#schedules-payment > main form .form-creditcard .form-card .faces.flipped {
  transform: rotateY(180deg);
}
#schedules-payment > main form .form-creditcard .form-card .faces svg {
  width: 300px;
  backface-visibility: hidden;
  position: absolute;
}
#schedules-payment > main form .form-creditcard .form-card .faces svg.back .name {
  text-transform: capitalize;
}
#schedules-payment > main form .form-creditcard .form-card .faces .back {
  transform: rotateY(180deg);
}

@media (min-width: 992px) {
  #schedules-payment {
    position: static;
  }
  #schedules-payment.keyboard-open {
    margin-bottom: 0;
    height: calc(100vh - 60px);
  }
  #schedules-payment.keyboard-open > main form {
    max-width: 900px;
  }
  #schedules-payment.keyboard-open footer {
    position: fixed;
    width: 100%;
    margin-left: initial;
  }
  #schedules-payment > header {
    height: 130px;
  }
  #schedules-payment > header h1 {
    display: block;
  }
  #schedules-payment > main {
    align-items: flex-start;
  }
  #schedules-payment > main form {
    max-width: 900px;
    justify-content: space-between;
  }
  #schedules-payment > main form .form-creditcard .form-card {
    position: static;
    display: flex;
    justify-content: center;
    padding-left: 20px;
  }
  #schedules-payment > main form .form-creditcard .form-card .faces {
    width: 100%;
  }
  #schedules-payment > main form .form-creditcard .form-card .faces svg {
    width: 398px;
    position: absolute;
  }
}
#schedules-address main {
  margin-top: 20px;
}
#schedules-address main form hr {
  margin: 20px auto;
  border: none;
  border-top: var(--gray-3) 1px solid;
}
#schedules-address main form .btn-create {
  min-width: 130px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 20px;
  cursor: pointer;
  background: transparent;
  background-color: var(--green);
  color: var(--white);
}
#schedules-address main form .btn-create:hover {
  background-color: #00000010;
}
#schedules-address main form .btn-create:active {
  background-color: #00000020;
}
@media (min-width: 768px) {
  #schedules-address main form .btn-create {
    min-width: 150px;
  }
}
#schedules-address main form .btn-create:hover {
  background-color: var(--green-hover);
}
#schedules-address main form .btn-create:active {
  background-color: var(--green-active);
}
#schedules-address main form .btn-update {
  min-width: 130px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 20px;
  cursor: pointer;
  background: transparent;
  background-color: var(--gray-3);
  color: var(--gray-0);
}
#schedules-address main form .btn-update:hover {
  background-color: #00000010;
}
#schedules-address main form .btn-update:active {
  background-color: #00000020;
}
@media (min-width: 768px) {
  #schedules-address main form .btn-update {
    min-width: 150px;
  }
}
#schedules-address main form .btn-update:hover {
  background-color: var(--gray-8);
}
#schedules-address main form .btn-update:active {
  background-color: var(--gray-9);
}
#schedules-address main form .addresses {
  flex-direction: column;
}
#schedules-address main form .addresses label {
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
#schedules-address main form .addresses label address {
  font-style: normal;
  margin-left: 10px;
}
#schedules-address main form .addresses label .circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: var(--gray-10) 2px solid;
  justify-content: center;
  align-items: center;
}
#schedules-address main form .addresses label .circle > div {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--gray);
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#schedules-address main form .addresses label:hover .circle {
  border: var(--gray-8) 2px solid;
}
#schedules-address main form .addresses label:hover .circle > div {
  opacity: 0.2;
}
#schedules-address main form .addresses label input {
  display: none;
}
#schedules-address main form .addresses label input:checked + .circle > div {
  opacity: 1;
  background-color: var(--blue);
}

@media (min-width: 992px) {
  #schedules-address main form {
    max-width: 600px;
  }
  #schedules-address main form .btn-create {
    width: max-content;
  }
}
#schedules-address-form main {
  margin-top: 20px;
}
#schedules-address-form main .fields.zipcode {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#schedules-address-form main .fields.zipcode .field {
  width: calc(50% - 10px);
}
#schedules-address-form main .fields.zipcode #btn-search {
  min-width: 130px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 20px;
  cursor: pointer;
  background: transparent;
  background-color: var(--gray-3);
  color: var(--gray-0);
  height: 69px;
}
#schedules-address-form main .fields.zipcode #btn-search:hover {
  background-color: #00000010;
}
#schedules-address-form main .fields.zipcode #btn-search:active {
  background-color: #00000020;
}
@media (min-width: 768px) {
  #schedules-address-form main .fields.zipcode #btn-search {
    min-width: 150px;
  }
}
#schedules-address-form main .fields.zipcode #btn-search:hover {
  background-color: var(--gray-8);
}
#schedules-address-form main .fields.zipcode #btn-search:active {
  background-color: var(--gray-9);
}

@media (min-width: 992px) {
  #schedules-address-form main .fields.address-number .field:first-child {
    flex: 1;
    width: initial;
  }
  #schedules-address-form main .fields.address-number .field:last-child {
    width: 100px;
  }
}
#schedules-complete main p {
  margin: 0 20px;
  margin-bottom: 20px;
  font-size: 22px;
  color: var(--gray-0);
}
#schedules-complete main p small {
  display: block;
  font-size: 16px;
}
#schedules-complete main footer.fixed {
  justify-content: center;
}
#schedules-complete main footer.fixed a {
  min-width: 130px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 20px;
  cursor: pointer;
  background: transparent;
  background-color: var(--green);
  color: var(--white);
}
#schedules-complete main footer.fixed a:hover {
  background-color: #00000010;
}
#schedules-complete main footer.fixed a:active {
  background-color: #00000020;
}
@media (min-width: 768px) {
  #schedules-complete main footer.fixed a {
    min-width: 150px;
  }
}
#schedules-complete main footer.fixed a:hover {
  background-color: var(--green-hover);
}
#schedules-complete main footer.fixed a:active {
  background-color: var(--green-active);
}

@media (min-width: 1200px) {
  #schedules-complete main footer.fixed {
    justify-content: flex-start;
  }
}

/*# sourceMappingURL=main.css.map */
