@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/OpenSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/OpenSans-SemiBold.ttf"), format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/OpenSans-Bold.ttf"), format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/OpenSans-ExtraBold.ttf"), format("truetype");
}
:root {
  --white: #FFFFFF;
  --black: #000000;
  --black-10: #0000001a;
  --black-75: #000000bf;
  --dark-0: #333333;
  --dark-1: #000000BF;
  --gray: #79756C;
  --gray-0: #707070;
  --gray-1: #7E7E7E;
  --gray-2: #9A9A99;
  --gray-3: #CCCCCC;
  --gray-4: #00000029;
  --gray-5: #E5E3DFBF;
  --gray-6: #F8F8F8;
  --gray-7: #E5E3DF;
  --gray-8: #DDDDDD;
  --gray-9: #999999;
  --gray-10: #EEEEEE;
  --gray-11: #444444;
  --red: #E32119;
  --red-hover: #E4423B;
  --red-active: #C91D16;
  --green: #00994D;
  --green-hover: #00BE60;
  --green-active: #00773C;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body, div, article, aside, footer, header, main, nav, section, ul, ol, li, button, figure, picture {
  display: flex;
}

body {
  margin: 0;
  flex-direction: column;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  background-color: var(--bg-color);
}

a {
  color: var(--red);
}
a:hover {
  color: var(--black);
}

hr .italy {
  background-image: url("../images/bg-italy.svg");
  background-repeat: repeat-x;
  width: 100%;
  height: 18px;
  margin: 0;
  border: none;
}
hr.divider {
  background-color: var(--gray-3);
  height: 1px;
  width: calc(100% - 2em);
  margin: 3em 0;
  border: none;
  display: flex;
  align-self: center;
}

header.page-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
header.page-title h1, header.page-title h2, header.page-title h3, header.page-title h4, header.page-title h5, header.page-title h6 {
  color: var(--green);
  margin: 0;
  font-size: 32px;
  font-weight: 600;
}
header.page-title hr {
  width: 68px;
  border: none;
  border-top: 4px solid var(--red);
  margin: 10px 0;
}

form {
  flex-direction: column;
  padding: 15px;
  width: 100%;
}
form .fields {
  flex-direction: column;
}
form .field {
  position: relative;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
}
form .field label {
  color: var(--gray-3);
  font-size: 14px;
  position: absolute;
  z-index: 2;
  left: 10px;
  top: 10px;
  transition: color 0.3s ease-in-out;
}
form .field input, form .field textarea {
  line-height: 1.5em;
  padding: 10px;
  padding-top: 33px;
  font-size: 16px;
  color: var(--dark-0);
  outline: none;
  font-family: "Open Sans";
  border: var(--gray-3) 1px solid;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  top: 0;
  transition: border-color 0.3s ease-in-out;
}
form .field input:focus, form .field textarea:focus {
  border-color: var(--green);
}
form .field input:focus + label, form .field textarea:focus + label {
  color: var(--green);
}
form .actions {
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}
form button {
  min-width: 150px;
  background-color: var(--green);
  color: var(--white);
  border: none;
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
form button:hover {
  background-color: var(--green-hover);
}
form button:active {
  background-color: var(--green-active);
}
@media (min-width: 768px) {
  form button {
    min-width: 200px;
  }
}
form button:hover {
  background-color: var(--green-hover);
}
form button:active {
  background-color: var(--green-active);
}

@media (min-width: 992px) {
  form .fields {
    flex-direction: row;
  }
  form .fields .field {
    margin-right: 32px;
  }
  form .fields .field:last-child {
    margin-right: 0;
  }
  form .fields .field textarea {
    min-height: 250px;
  }
  form button {
    max-width: 340px;
  }
}
#header {
  min-width: 320px;
  width: 100%;
  height: 60px;
  background-color: var(--gray-5);
  position: relative;
  z-index: 3;
}
#header .italy {
  width: 100%;
  display: block;
  position: absolute;
  top: 52px;
  background-color: var(--white);
  height: 12px;
  border: none;
  border-top: var(--green) 4px solid;
  border-bottom: var(--red) 4px solid;
}
#header .menu {
  transition: right 0.5s ease-in-out;
  width: 300px;
  height: 100vh;
  background-color: var(--gray-7);
  position: fixed;
  right: -300px;
  top: 0;
  z-index: 4;
  flex-direction: column;
  justify-content: space-between;
}
#header .menu.logged .menus .hide-guest {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#header .menu.logged footer > div {
  display: flex;
}
#header .menu.logged footer > a {
  display: none;
}
#header .menu .btn-register {
  min-width: 150px;
  background-color: var(--green);
  color: var(--white);
  border: none;
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  margin: 20px;
  width: calc(300px - 40px);
}
#header .menu .btn-register:hover {
  background-color: var(--green-hover);
}
#header .menu .btn-register:active {
  background-color: var(--green-active);
}
@media (min-width: 768px) {
  #header .menu .btn-register {
    min-width: 200px;
  }
}
#header .menu .btn-register:hover {
  background-color: var(--green-hover);
}
#header .menu .btn-register:active {
  background-color: var(--green-active);
}
#header .menu hr {
  width: 100%;
  border-bottom: none;
  border-color: var(--black-10);
  margin: 0;
}
#header .menu .footer {
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#header .menu .footer > div {
  display: none;
  padding: 15px;
  width: 100%;
  align-items: center;
}
#header .menu .footer > div picture {
  margin-right: 10px;
}
#header .menu .footer > div picture img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
#header .menu .footer > div > div {
  flex-direction: column;
  flex: 1;
}
#header .menu .footer > div a {
  color: var(--dark-0);
  text-decoration: none;
  font-size: 16px;
}
#header .menu .footer > div a small {
  color: var(--gray-2);
  font-size: 12px;
}
#header .menu .menus {
  margin-top: 208px;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#header .menu .menus .hide-guest {
  display: none;
}
#header .menu .menus hr {
  margin: 15px 0;
}
#header .menu .menus ul {
  margin: 0;
  padding: 0;
  width: 100%;
  flex-direction: column;
}
#header .menu .menus ul li {
  padding: 14px 0;
  width: 100%;
  list-style: none;
  justify-content: center;
}
#header .menu .menus ul li a {
  text-decoration: none;
  color: var(--dark-0);
}
#header button {
  background: none;
  border: none;
  padding: 13px;
  outline: none;
}
#header #btn-open, #header #btn-close {
  position: absolute;
  right: 0;
}
#header .logo {
  position: absolute;
  transition: all 1s ease-in-out;
  right: calc(50vw - 60px);
  top: 15px;
  z-index: 5;
  width: 120px;
}
#header .overlay {
  transition: all 0.5s ease-in-out;
  display: none;
}

.open-menu {
  overflow: hidden;
}
.open-menu #header .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--dark-1);
  z-index: 4;
  display: flex;
}
.open-menu #header .menu {
  right: 0px;
}
.open-menu #header .logo {
  left: initial;
  right: 87px;
}

@media (min-width: 1200px) {
  #header {
    height: 100px;
  }
  #header .italy {
    top: 92px;
  }
  #header .logo {
    right: calc(100vw - 200px);
    top: 17px;
    transition: none;
  }
  #header #btn-open, #header #btn-close {
    display: none;
  }
  #header ul {
    width: auto;
  }
  #header .menu {
    width: 100%;
    height: initial;
    background-color: initial;
    position: static;
    right: initial;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 200px;
  }
  #header .menu > div {
    width: 100%;
  }
  #header .menu .btn-register {
    margin: 0;
    margin-right: 30px;
    width: 200px;
  }
  #header .menu ul {
    margin: 0;
    margin-top: 0;
    padding: 0;
    flex-direction: row;
    align-items: center;
  }
  #header .menu ul li a {
    font-size: 14px;
    min-width: 100px;
    padding: 10px 0;
    text-align: center;
  }
  #header .menu ul li a:hover {
    color: var(--black);
  }
  #header .menu .menus {
    margin-top: 0;
    flex-direction: row;
  }
  #header .menu .menus hr {
    display: none;
  }
  #header .menu .menus ul {
    flex-direction: row;
  }
  #header .menu .footer {
    width: initial;
    justify-content: center;
  }
  #header .menu .footer hr {
    display: none;
  }
  #header .menu .footer > div {
    height: 100px;
  }
}
#footer {
  width: 100%;
  min-width: 320px;
  position: relative;
  background-color: var(--dark-0);
  color: var(--gray-3);
  flex-direction: column;
  padding: 2em;
  align-items: center;
}
#footer button {
  position: absolute;
  right: 20px;
  background: var(--gray-6);
  color: var(--dark-0);
  box-shadow: var(--black) 0 3px 6px;
  border: none;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  padding: 13px;
  outline: none;
  justify-content: center;
  align-items: center;
  top: -35px;
  z-index: 1;
  cursor: pointer;
}
#footer button:hover {
  background-color: var(--white);
}
#footer .columns {
  width: 100%;
  flex-direction: column;
  align-items: center;
}
#footer .links {
  display: none;
}
#footer ul {
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 300px;
}
#footer li {
  list-style: none;
  padding: 0.5em 0;
  font-size: 16px;
}
#footer li.title {
  font-weight: bold;
  font-size: 20px;
}
#footer .social {
  align-items: center;
}
#footer .social a {
  margin-right: 1em;
}
#footer .social img {
  height: 24px;
}
#footer .logo {
  margin: 2em 0;
}
#footer p {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

@media (min-width: 1200px) {
  #footer {
    padding-bottom: 0;
  }
  #footer .columns {
    flex-direction: row;
    justify-content: space-between;
  }
  #footer .social a:hover {
    opacity: 0.8;
  }
  #footer .links {
    display: flex;
  }
  #footer .links a {
    color: var(--white50);
    text-decoration: none;
  }
  #footer .links a:hover {
    color: var(--white);
  }
  #footer li {
    font-size: 14px;
    font-weight: 300;
  }
  #footer p {
    font-size: 14px;
  }
}
@media (prefers-color-scheme: dark) {
  #footer {
    color: var(--black50);
  }
  #footer .links a {
    color: var(--black50);
  }
  #footer .links a:hover {
    color: var(--black);
  }
  #footer button {
    background: var(--black50);
    color: var(--gray-6);
    box-shadow: var(--white) 0 3px 6px;
  }
}
#home {
  flex-direction: column;
  margin-top: -80px;
}
#home hr {
  position: absolute;
  top: 60px;
  z-index: 1;
}
#home header {
  width: 100%;
  min-width: 320px;
  min-height: 675px;
  height: 100vh;
  background-image: url("../images/ferrari-vermelha-1200.webp");
  background-size: cover;
  background-position-x: 80%;
  background-position-y: center;
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 2em;
}
#home header h1 {
  color: var(--white);
  font-size: 4em;
  font-weight: bold;
  text-align: right;
  margin: 0.4em 0;
  line-height: 1.25em;
}
#home header a {
  border: var(--white) 2px solid;
  border-radius: 8px;
  padding: 10px 32px;
  color: var(--white);
  text-transform: uppercase;
  text-decoration: none;
}
#home header a:hover {
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;
}
#home .gallery {
  min-width: 320px;
  flex-direction: column;
}
#home .gallery figure {
  width: 100%;
  margin: 0;
  margin-top: 1px;
  position: relative;
}
#home .gallery figure img {
  width: 100%;
}
#home .gallery figure figcaption {
  position: absolute;
  left: 0;
  bottom: 20px;
  background-color: var(--black-75);
  color: var(--white);
  padding: 0.3em 1em;
}
#home .gallery figure figcaption h2 {
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
}
#home .gallery figure figcaption p {
  margin: 0;
  font-size: 12px;
  color: var(--grayC);
}

@media (min-width: 576px) {
  #home .gallery {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  #home {
    margin-top: -100px;
  }
  #home hr {
    top: 100px;
  }
  #home header {
    height: 100vh;
    max-height: initial;
    background-image: url("../images/ferrari-vermelha.webp");
  }
}
@media (min-width: 1920px) {
  #home header {
    background-image: url("../images/ferrari-vermelha@2x.webp");
  }
}
@media (prefers-color-scheme: dark) {
  #home header h1 {
    color: var(--black);
  }
  #home header a {
    border: var(--black) 2px solid;
    color: var(--black);
  }
}
#service {
  margin-top: 20px;
  flex-direction: column;
}
#service h2 {
  padding: 0 15px;
  margin: 0;
  font-size: 27px;
  font-weight: bold;
  color: var(--dark-0);
  text-transform: uppercase;
}
#service h2 small {
  color: var(--gray-2);
  display: block;
  font-size: 20px;
  font-weight: 600;
}
#service > img {
  width: 100%;
  margin: 30px 0;
}
#service > div {
  flex-direction: column;
}
#service > div a {
  min-width: 150px;
  background-color: var(--green);
  color: var(--white);
  border: none;
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  margin: 0 20px;
}
#service > div a:hover {
  background-color: var(--green-hover);
}
#service > div a:active {
  background-color: var(--green-active);
}
@media (min-width: 768px) {
  #service > div a {
    min-width: 200px;
  }
}
#service > div a:hover {
  background-color: var(--green-hover);
}
#service > div a:active {
  background-color: var(--green-active);
}
#service > div .icons {
  flex-direction: column;
}
#service > div .icons figure {
  margin-top: 30px;
  flex-direction: column;
  align-items: center;
}
#service > div .icons figure img {
  width: 100px;
}
#service > div .icons figure figcaption {
  margin: 30px auto;
  font-size: 16px;
  font-weight: bold;
  color: var(--gray-0);
}

@media (min-width: 768px) {
  #service > div {
    flex-direction: column-reverse;
  }
  #service > div .icons {
    flex-direction: row;
    justify-content: space-around;
  }
  #service > div .icons figure {
    margin: 100px 0;
  }
  #service > div .icons figure img {
    width: 150px;
  }
  #service > div a {
    width: 200px;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  #service h2 {
    font-size: 60px;
  }
  #service h2 small {
    font-size: 35px;
  }
}
#contact {
  flex-direction: column;
}
#contact p {
  font-size: 15px;
  color: var(--gray-1);
  font-weight: 600;
}
#contact h2 {
  padding: 0 15px;
  margin: 0;
  font-size: 27px;
  font-weight: bold;
  color: var(--dark-0);
  text-transform: uppercase;
}
#contact > section {
  flex-direction: column;
}
#contact #map {
  background-image: url("../images/mapa.png");
  height: 263px;
  width: 100%;
}
#contact .contacts {
  margin: 0;
  margin-top: 30px;
  padding: 1em;
  flex-direction: column;
}
#contact .contacts li {
  border: var(--gray-3) 1px solid;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  margin-bottom: 4em;
  text-align: center;
  color: var(--gray6);
}
#contact .contacts li img {
  max-width: 100px;
  background-color: var(--white);
  margin: 0 auto;
  margin-top: -60px;
  padding: 0 15px;
}
#contact .contacts li h3 {
  font-weight: 600;
  margin: 0;
  font-size: 24px;
}
#contact .contacts li p {
  font-weight: 300;
  margin: 0;
  font-size: 25px;
}

@media (min-width: 992px) {
  #contact h2 {
    font-size: 60px;
  }
  #contact > section {
    flex-direction: row;
  }
  #contact > section form, #contact > section #map {
    flex: 1;
  }
  #contact > section #map {
    margin-left: 0;
    height: 570px;
  }
  #contact .contacts {
    flex-direction: row;
  }
  #contact .contacts li {
    margin-right: 1em;
    margin-bottom: 2em;
  }
  #contact .contacts li:last-child {
    margin-right: 0;
  }
  #contact textarea {
    height: 245px;
  }
}
@media (prefers-color-scheme: dark) {
  #contact .contacts li {
    border: var(--black50) 1px solid;
    color: var(--black50);
  }
  #contact .contacts li img {
    background-color: var(--gray-6);
  }
}
#auth {
  min-width: 300px;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
#auth .hide {
  display: none;
}
#auth > section {
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  align-items: center;
  width: 100%;
  height: 100%;
}
#auth > section a {
  display: contents;
}
#auth > section a img {
  position: absolute;
  width: 100px;
  top: 40px;
  z-index: 1;
}
#auth > section p {
  color: var(--gray-9);
}
#auth > section form {
  margin-top: 170px;
  position: relative;
  left: 0;
  width: 100vw;
}
#auth > section form .message {
  display: flex;
  align-items: center;
  justify-content: center;
}
#auth > section form .message img {
  margin-right: 5px;
}
#auth > section form .message span {
  font-weight: 600;
  color: var(--dark-0);
}
#auth > section form h1 {
  text-align: center;
  color: var(--green);
  font-size: 28px;
  font-weight: 600;
  margin: 10px auto;
}
#auth > section form hr {
  border: none;
  border-top: 4px solid var(--red);
  width: 68px;
  margin-bottom: 30px;
}
#auth > section form .field {
  width: 100%;
}

@media (min-width: 500px) {
  #auth > section {
    width: 500px;
    height: initial;
  }
  #auth > section a img {
    top: 125px;
  }
  #auth > section form {
    border: var(--gray-8) 1px solid;
    border-radius: 10px;
    width: 100%;
    padding: 50px;
    padding-top: 100px;
  }
}
#profile > nav {
  display: none;
}
#profile main {
  flex-direction: column;
  width: 100%;
  padding: 15px;
  margin-top: 120px;
  margin-bottom: 20px;
  min-height: calc(100vh - 588px);
}
#profile main > section {
  flex-direction: column;
  width: 100%;
  margin-bottom: 50px;
}
#profile main > section header {
  margin-bottom: 20px;
}
#profile main > section form {
  padding: 0;
}
#profile main > section .profile-photo {
  flex-direction: column;
  align-items: center;
}
#profile main > section .profile-photo .actions {
  justify-content: center;
  margin-top: 20px;
}
#profile main > section .profile-photo .actions button {
  width: 256px;
}
#profile main > section #photo {
  width: 256px;
  height: 256px;
}
#profile main > section .schedules {
  margin: 0;
  padding: 0;
  flex-direction: column;
}
#profile main > section .schedules li {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
#profile main > section .schedules li section {
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
#profile main > section .schedules li section > div {
  width: 50%;
  flex-direction: column;
  font-size: 16px;
  justify-content: flex-start;
}
#profile main > section .schedules li section > div label {
  color: var(--gray-2);
  padding: 10px 0;
}
#profile main > section .schedules li section > div span {
  color: var(--dark-0);
  padding: 10px 0;
}
#profile main > section .schedules button {
  min-width: 150px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}
#profile main > section .schedules button.cancel {
  background-color: var(--red);
  color: var(--white);
}
#profile main > section .schedules button:hover {
  background-color: var(--red-hover);
}
#profile main > section .schedules button:active {
  background-color: var(--red-active);
}

@media (min-width: 1200px) {
  #profile > nav {
    display: flex;
    margin-top: 120px;
    min-width: 300px;
    padding: 0 15px;
    border-right: var(--gray-3) 1px solid;
  }
  #profile > nav ul {
    margin: 0;
    padding: 0;
    width: 100%;
    flex-direction: column;
  }
  #profile > nav ul .active a {
    color: var(--green);
  }
  #profile > nav ul a {
    font-size: 25px;
    text-decoration: none;
    display: flex;
    padding: 15px 0;
    width: 100%;
    color: var(--gray-0);
  }
  #profile > nav ul a:hover {
    font-weight: bold;
  }
  #profile > nav ul a:active {
    color: var(--green);
  }
  #profile main {
    flex-direction: row;
    min-height: calc(100vh - 465px);
  }
  #profile main > section {
    margin: 15px;
  }
  #profile main > section .schedules li {
    flex-direction: row;
    align-items: flex-end;
  }
  #profile main > section .schedules li section {
    flex-wrap: nowrap;
    border-bottom: var(--gray-10) 1px solid;
  }
  #profile main > section .schedules li section > div {
    flex: 1;
    width: initial;
  }
  #profile main > section .schedules li section > div label {
    display: none;
  }
  #profile main > section .schedules li section > div.service {
    flex: 2;
  }
  #profile main > section .schedules li:first-child section > div span {
    border-top: var(--gray-10) 1px solid;
  }
  #profile main > section .schedules li:first-child section > div label {
    display: flex;
  }
  #profile main > section .schedules button {
    min-width: 100px;
    font-size: 11px;
    height: 31px;
    margin: 6px 0;
  }
  #profile main form {
    max-width: 400px;
  }
}
.calendar {
  flex-direction: column;
  padding: 0 15px;
}
.calendar .month {
  font-size: 6vw;
  font-weight: 600;
  color: var(--gray-2);
  justify-content: center;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.calendar .weekdays {
  font-size: 2vw;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--gray-2);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
}
.calendar .weekdays li {
  justify-content: center;
  padding: 8px 0;
}
.calendar .days {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 12vw 12vw 12vw 12vw 12vw;
  grid-gap: 10px;
  font-size: 4vw;
  color: var(--gray-11);
  margin: 0;
  padding: 0;
}
.calendar .days li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.calendar .days li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.calendar .days .month-prev, .calendar .days .month-next {
  color: var(--gray-2);
}
.calendar .days .active {
  background-color: var(--green);
  color: var(--white);
}
.calendar .days .active:hover {
  background-color: var(--green-hover);
}

.schedules {
  flex-direction: column;
  padding: 0 15px;
}
.schedules h3 {
  font-size: 16px;
  color: var(--gray-2);
  text-transform: uppercase;
  text-align: center;
}
.schedules ul {
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.schedules ul li {
  width: calc(50% - 10px);
  background-color: var(--gray-10);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark-0);
  height: 70px;
  font-size: 32px;
  cursor: pointer;
  border-radius: 5px;
}
.schedules ul li.active {
  background-color: var(--green);
  color: var(--white);
}
.schedules ul li.active:hover {
  background-color: var(--green-hover);
}
.schedules ul li:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

@media (min-width: 992px) {
  .calendar .days {
    grid-template-rows: 13.8vw 13.8vw 13.8vw 13.8vw 13.8vw;
  }

  .schedules ul li {
    width: calc(25% - 10px);
  }
}

/*# sourceMappingURL=style.css.map */
