.calendar {
    flex-direction: column;
    padding: 0 20px;
    margin-bottom: 20px;
    .month {
        color: var(--gray-2);
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        text-transform: uppercase;
        h2 {
            font-size: 22px;
            font-weight: 400;
        }
        button {
            @include button;
            border: var(--gray-2) 2px solid;
            border-radius: 8px;
            color: var(--gray-2);
        }
        nav {
            button {
                min-width: 50px;
            }
            button + button {
                margin-left: 10px;
            }
        }
        .btn-today {
            display: none;
        }
    }
    .weekdays {
        font-weight: bold;
        text-transform: uppercase;
        color: var(--gray-0);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        margin: 0;
        padding: 0;
        li {
            justify-content: center;
            padding: 8px 0;
            font-size: 12px;
            font-weight: bold;
        }
    }
    .days {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 12vw 12vw 12vw 12vw 12vw;
        grid-gap: 10px;
        color: var(--gray-11);
        margin: 0;
        padding: 0;
        li {
            font-size: 16px;
            justify-content: center;
            align-items: center;
            padding: 0;
            border-radius: 50%;
            cursor: pointer;
            transition: all .1s ease-in-out;
            &:hover {
                background-color: rgba(0, 0, 0, .1);
            }
        }
        .month-prev, .month-next {
            color: var(--gray-2);
        }
        .active {
            background-color: var(--blue);
            color: var(--white);
            &:hover {
                background-color: var(--blue-hover);
            }
            &:active {
                background-color: var(--blue-active);
            }
        }
        .selected {
            background-color: var(--green)!important;
            color: var(--white);
        }
    }
}

@media (min-width: 992px) {
    .calendar {
        max-width: 992px;
        .month {
            h2 {
                font-size: 44px;
            }
            margin: 30px 0;
            .btn-today {
                display: flex;
            }
        }
        .weekdays {
            li {
                font-size: 21px;
                font-weight: bold;
            }
        }
        .days {
            grid-template-rows: 128px 128px 128px 128px 128px 128px;
            li {
                height: 120px;
                font-size: 38px;
            }
        }
    }
}
