#change-photo {
    form {
        align-items: center;
        display: flex;
        img {
            width: 256px;
            height: 256px;
            border-radius: 50%;
        }
        #file {
            display: none;
        }
        .choose-photo {
            margin: 20px 0;
            width: 256px;
        }
        &.cropping {
            img {
                height: auto;
                border-radius: 0;
                margin-top: 0;
            }
        }
    }
}