#change-photo {
    form {
        align-items: center;
        display: flex;
        margin: 20px 0;
        img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }
        #file {
            display: none;
        }
        .choose-photo {
            margin: 20px 0;
            width: 256px;
        }
        &.cropping {
            img {
                height: auto;
                border-radius: 0;
                margin-top: 0;
            }
        }
    }
}

@media (min-width: 1200px) {
    #change-photo {
        form {
            img {
                width: 256px;
                height: 256px;
            }
        }
    }
}