#contact {
    flex-direction: column;
    p {
        font-size: 15px;
        color: var(--gray-1);
        font-weight: 600;
    }
    h2 {
        padding: 0 15px;
        margin: 0;
        font-size: 27px;
        font-weight: bold;
        color: var(--dark-0);
        text-transform: uppercase;
    }
    > section {
        flex-direction: column;
    }
    #map {
        background-image: url('../images/mapa.png');
        height: 263px;
        width: 100%;
        margin-top: 20px;
    }
    .contacts {
        margin: 0;
        margin-top: 30px;
        padding: 1em;
        flex-direction: column;
        li {
            border: var(--gray-3) 1px solid;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            padding: 1em;
            margin-bottom: 4em;
            text-align: center;
            color: var(--gray6);
            img {
                max-width: 100px;
                background-color: var(--white);
                margin: 0 auto;
                margin-top: -60px;
                padding: 0 15px;
            }
            h3 {
                font-weight: 600;
                margin: 0;
                font-size: 24px;
            }
            p {
                font-weight: 300;
                margin: 0;
                font-size: 25px;
            }
        }
    }
}


@media (min-width: 992px) {
    #contact {
        h2 {
            font-size: 60px;
        }
        > section {
            flex-direction: row;
            form, #map {
                flex: 1;
            }
            #map {
                margin-left: 0;
                height: 570px;
            }
        }
        .contacts {
            flex-direction: row;
            li {
                margin-right: 1em;
                margin-bottom: 2em;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        textarea {
            height: 245px;
        }
    }
}

@media (prefers-color-scheme: dark) {
    #contact {
        .contacts {
            li {
                border: var(--black50) 1px solid;
                color: var(--black50);
                img {
                    background-color: var(--gray-6);
                }
            }
        }
    }
}