* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body, div, article, aside, footer, header, main, nav, section, ul, ol, li, button, figure, picture {
    display: flex;
}

body {
    margin: 0;
    flex-direction: column;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    background-color: var(--bg-color);
}

a {
    color: var(--red);
    &:hover {
        color: var(--black);
    }
}

hr {
    .italy {
        background-image: url('../images/bg-italy.svg');
        background-repeat: repeat-x;
        width: 100%;
        height: 18px;
        margin: 0;
        border: none;
    }
    &.divider {
        background-color: var(--gray-3);
        height: 1px;
        width: calc(100% - 2em);
        margin: 3em 0;
        border: none;
        display: flex;
        align-self: center;
    }
}

header {
    &.page-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        h1, h2, h3, h4, h5, h6 {
            color: var(--green);
            margin: 0;
            font-size: 32px;
            font-weight: 600;
        }
        hr {
            width: 68px;
            border: none;
            border-top: 4px solid var(--red);
            margin: 10px 0;
        }
    }
}