@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"), url("../fonts/OpenSans-Light.ttf") format("truetype");
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans Regular"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans SemiBold"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    src: local("Open Sans Bold"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Nothing";
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Regular"), url("../fonts/NothingYouCouldDo-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Teko";
    font-style: normal;
    font-weight: 400;
    src: local("Teko"), url("../fonts/Teko-Regular.ttf") format("truetype");
}