#footer {
    width: 100%;
    min-width: 320px;
    background-color: var(--dark-0);
    position: relative;
    flex-direction: column;
    padding: var(--space);
    align-items: center;
    color: var(--gray-0);
    button {
        position: absolute;
        right: var(--space);
        background-color: var(--gray-6);
        box-shadow: var(--black) 0 3px 6px;
        border: none;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        outline: none;
        justify-content: center;
        align-items: center;
        top: -35px;
        z-index: 1;
        cursor: pointer;
        &:hover {
            background-color: var(--white);
        }
    }
    .columns {
        width: 100%;
        flex-direction: column;
        align-items: center;
        .links {
            display: none;
        }
        ul {
            margin: 0;
            padding: 0;
            width: 300px;
            flex-direction: column;
            li {
                list-style: none;
                font-size: 16px;
                padding: .5em 0;
                a {
                    color: var(--gray-0);
                    text-decoration: none;
                }
                &.title {
                    font-weight: bold;
                    font-size: 20px;
                }
                &.social {
                    align-items: center;
                    a {
                        margin-right: 1em;
                    }
                    img {
                        height: 24px;
                    }
                }
            }
        }
        .logo {
            margin: var(--space) 0;
        }
    }
    p {
        font-weight: bold;  
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    #footer {
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 0;
        .columns {
            flex-direction: row;
            justify-content: space-between;
            .links {
                display: flex;
            }
            ul {
                li {
                    a {
                        &:hover {
                            color: var(--white);
                        }
                    }
                }
            }
        }
    }
}
