#service {
    margin-top: 20px;
    flex-direction: column;
    h2 {
        padding: 0 15px;
        margin: 0;
        font-size: 27px;
        font-weight: bold;
        color: var(--dark-0);
        text-transform: uppercase;
        small {
            color: var(--gray-2);
            display: block;
            font-size: 20px;
            font-weight: 600;
        }
    }
    .calendar {
        margin-top: 35px;
    }
}

@media (min-width: 992px) {
    #service {
        h2 {
            font-size: 60px;
            small {
                font-size: 35px;
            }
        }
    }
}