@import 'fonts.scss';
@import 'variables.scss';
@import 'mixin.scss';
@import 'default.scss';
@import 'form.scss';
@import 'header.scss';
@import 'footer.scss';
@import 'home.scss';
@import 'service.scss';
@import 'contact.scss';
@import 'auth.scss';
@import 'profile.scss';
@import 'error.scss';
@import 'change-photo.scss';
@import 'schedules.scss';
@import 'calendar.scss';
@import 'time-options.scss';
@import 'schedules-services.scss';
@import 'schedules-payment.scss';