:root {
    --white: #FFFFFF;
    --black: #000000;
    --black-hover: #111111;
    --black-active: #222222;
    --black-10: #0000001a;
    --black-75: #000000bf;
    --dark-0: #333333;
    --dark-1: #000000BF;
    --gray: #79756C;
    --gray-0: #707070;
    --gray-1: #7E7E7E;
    --gray-2: #9A9A99;
    --gray-3: #CCCCCC;
    --gray-4: #00000029;
    --gray-5: #E5E3DFBF;
    --gray-6: #F8F8F8;
    --gray-7: #E5E3DF;
    --gray-8: #DDDDDD;
    --gray-9: #999999;
    --gray-10: #EEEEEE;
    --gray-11: #444444;
    --gray-12: #E8E8E8;
    --red: #E32119;
    --red-hover: #E4423B;
    --red-active: #C91D16;
    --green: #00994D;
    --green-hover: #00BE60;
    --green-active: #00773C;
    --blue: #00A0E6;
    --blue-hover: #1CABE9;
    --blue-active: #199BD4;

    --space: 20px;
}
